.movies {
    color: blueviolet;
    font-size: 16px;
    border-left: 4px dotted #4b42f5;
    border-right: 4px dotted #4b42f5;
        height: 450px;
        position: absolute;
        left: 50%;
        margin-left: 3px;
        margin-right: 3px;
        top: 0;
}

.movies h3 {
    text-align: center;
    color: rgb(224, 73, 9);
    font-size: 30px;
}