.chores{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(224, 73, 9);
    border-right: 4px dotted #4b42f5;
    border-left: 4px dotted #4b42f5;
        height: 450px;
        position: absolute;
        left: 10%;
        margin-left: -3px;
        top: 0;
   
}
.chores h3{
    text-decoration: underline;
    font-style: italic;
    font-size: 30px;
    
}